body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/Artboard_1.png'); /* Replace with the URL of your background image */
    background-size: cover; /* Adjusts the background image size to cover the entire element */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}


.head_text h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}

.grid_container div{
    background-color: bisque;
}