* {
    box-sizing: border-box;
}

body {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    background: rgb(45,45,45);
    background: linear-gradient(180deg, rgba(45,45,45,1) 0%, rgba(28,28,28,1) 50%, rgba(5,5,5,1) 100%);
}

a {
    text-decoration: none;
    color: black;
}

header a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
} 

header a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.head_text h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 34px;
    margin: 3rem;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    max-width: 700px;
    gap: 3rem; 
    margin: auto;
}

.level_box a:hover {
    color: #5DFDCB; 
    transition: 0.2s;
}

.button_container {
    text-align: center;
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #AB87FF; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
}

.backbutton {
    background-color: rgba(255, 255, 255, 0.8); 
}


.button:hover {
    background-color: #c4acfd; 
    transform: scale(1.1);
}

.backbutton:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.container {
    width: 1000px;
    height: 800px;
    margin: auto;
    background-image: url("levels/img/Artboard_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

header, footer {
    background-color: #3e2b3e;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

header {
    margin-bottom: 20px;
}

footer {
    margin-top: 70px;
}