* {
    box-sizing: border-box;
}

body {
      font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #2D2D2D;
}

.container {
    width: 1000px;
    height: 800px;
    margin: auto;
    background-image: url("levels/img/Artboard_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container img {
    height: auto;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

header a {
    text-decoration: none;
    color: white;
} 

header, footer {
    background-color: #3e2b3e;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_container {
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 2rem;
    font-size: 24px;
}

.button_container {
    text-align: center;
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #5DFDCB;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.1);
}