* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #2D2D2D;
}

.container {
    width: 1000px;
    height: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("/levels/img/Artboard_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

header, footer {
    background-color: #3e2b3e;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
} 

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
