body {

    background-image: url('./img/Artboard_1.png'); /* Replace with the URL of your background image */
    background-size: cover; /* Adjusts the background image size to cover the entire element */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}