* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: #2D2D2D;
}

.container {
    width: 1000px;
    height: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url("/levels/img/Artboard_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

header, footer {
    background-color: #3e2b3e;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
.column-container {
    display: flex;
    justify-content: space-between;
}

.column-container img {
    height: 50%;
}
.picture-container {
    flex-basis: 50%;
}

.picture-container img {
    max-width: 100%;
    height: auto;
}

.textbox-container, .answer-boxes {
    text-align: center;
    margin-top: 20px;
}

.answer-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.answer-box {
    background-color: #f0f0f0;
    padding: 10px 20px;
    cursor: pointer;
}
.picture-container img {
    height: 100%; /* Set a fixed height */
}
.hp {
    color: white;
    font-weight: bold;
}
